@model object
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div> 
        <h4>@Model.ToString()</h4>
        <a href="/Home">Ana sayfaya dön</a>
    </div>
</body>
</html>
