@model string

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hata Sayfası</title>
</head>
<body>
    <div>Hata Mesajı:@Model</div>
</body>
</html>
