
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Random text Generator</title>
</head>
<body>
    <div>
        <h4>@ViewBag.TextTR</h4>
        <h4>@ViewBag.TextEN</h4>
    </div>
</body>
</html>
