@using CarGalleryApp.Models
@model IEnumerable<CarInfo>

@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-with" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Desc</th>
                <th>Price</th>
                <th>Plate</th>
            </tr>
            <tr>              
            </tr>
        </table>
    </div>
</body>
</html>
