@using StudentBirthDayApp.Entities
@model Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div><h4>@Model.Name</h4></div>
    <div><h4>@Model.CitizenId</h4></div>
    <div><h4>@Model.BirthDate</h4></div>
    <div><h4>@Model.Age</h4></div>
    <div><h4>Başarıyla kaydedildi</h4></div>
</body>
</html>
