
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Random</title>
</head>
<body>
    <div> 
        <h3>Generated Value:</h3>
        <h4>@ViewBag.Val</h4>
    </div>
</body>
</html>
