
@{
    ViewData["Title"] = "C ve Sistem Programcıları Derneği";
}

<h1>Appointment Project</h1>

<h2>@ViewBag.Today.ToShortDateString()</h2>

<div><a href="/Home/BookAppointment">Create a new appointment</a></div>
<div><a href="/Home/ListClients">List of Clients</a></div>



