
@{
    ViewData["Title"] = "Participant App";
}

<h1>Menu</h1>

<div><a href="/Home/Insert">Register</a></div>
<div><a href="/Home/List">List of All Records</a></div>
<div><a href="/Home/ListParticipants">List of Participants</a></div>
<div><a href="/Home/ListNonParticipants">List of Non Participants</a></div>
